@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    display: flex;
    margin: 0;
    padding: 0; 
}

.menu{
    min-height: 100%;
    background: #482D83;
    padding: 1rem;
}

.menu a{
    color: #ffffff;
    font-family: poppins;
    padding: 0.5rem;
    text-decoration: none;
}

.menu li{
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container{
    max-width: 100%;
    max-height: 100%;
}

.cabecalho{
    display: flex;
    align-items: center;
    width: 65rem;
    justify-content: end;
    margin: 1rem;
    gap: 1rem;
}

.cabecalho svg{
    width: 3rem;
    height: 3rem;
}

.card_table{
    padding: 1rem;
    background: #FCFCFC;
    width: 100%;
}

.entry{
    display: flex;
    gap: 30rem;
}

.entry button{
    color: #ffffff;
    background: #00C247;
    font-family: poppins;
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
}

.entry input{
    width: 16rem;
    height: 0.3rem;
    border: 0.1rem solid #E0E0E0;
    border-radius: 1rem;
    padding: 0.9rem;
    outline: none;
}

.icon{
    position: relative;
}

.icon i{
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
}

.tabela{
    width: 90%;
    height: 50%;
    border-radius: 1rem;
    background: white;
    padding: 1%;
    margin: 3% auto;
}

.tabela table{
    width: 100%;
    margin: 5% auto;
    border-collapse: collapse;
    margin-top: 2rem;
}

th{
    background: #482D83;
    font-family: poppins;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    color: #ffffff;
} 

tr{
    background-color: #E0E0E0;
    font-family: poppins;
    text-align: center;
    font-size: 0.7rem;
    color: #212121;
    padding-left: 1rem;
}

tr:nth-child(even) {
    background:#FAFAFA;
}

.verde{
    background-color: #D9FEE6;
    color: #00C247;
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    padding: 0.1rem;
    margin: 0 auto;
}

.vermelho{
    background-color: #FFE1E1;
    color: #FF3333;
    width: 3rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    padding: 0.1rem;
    margin: 0 auto;
}

.name{
    border-top-left-radius: 1rem;
}

.action{
    border-top-right-radius: 1rem;
    width: 5rem;
}

.logo{
    width: 12rem;
    height: 5rem;
    line-height: 0;
}

.logo h4{
    font-family: sora;
}

.logo p{
    font-family: poppins;
    font-size: 0.8rem;
}
