@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    display: flex;    
}

.menu{
    height: 100vh;
    background: #482D83;
    padding: 1rem;
}

.menu a{
    color: #ffffff;
    font-family: poppins;
    padding: 0.5rem;
    text-decoration: none;
}

.menu li{
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cabecalho{
    display: flex;
}

.card_table{
    padding: 1rem;
    background: #FCFCFC;
}

.entry button{
    color: #ffffff;
    background: #00C247;
    font-family: poppins;
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
}

.entry input{
    width: 15rem;
    height: 0.3rem;
    border: none;
    border-radius: 1rem;
    padding: 0.9rem;
    outline: none;
}

.icon{
    background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.25 10.5C1.25 5.39139 5.39139 1.25 10.5 1.25C15.6086 1.25 19.75 5.39139 19.75 10.5C19.75 15.6086 15.6086 19.75 10.5 19.75C5.39139 19.75 1.25 15.6086 1.25 10.5ZM10.5 2.75C6.21981 2.75 2.75 6.21981 2.75 10.5C2.75 14.7802 6.21981 18.25 10.5 18.25C14.7802 18.25 18.25 14.7802 18.25 10.5C18.25 6.21981 14.7802 2.75 10.5 2.75Z" fill="#6950A1"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.0805 16.0806C16.3734 15.7877 16.8483 15.7877 17.1412 16.0806L21.3838 20.3232C21.6767 20.6161 21.6767 21.091 21.3838 21.3839C21.0909 21.6768 20.6161 21.6768 20.3232 21.3839L16.0805 17.1412C15.7876 16.8483 15.7876 16.3735 16.0805 16.0806Z" fill="#6950A1"/></svg>');
    background-repeat: no-repeat;
}

.tabela{
    width: 85%;
    height: 70%;
    border-radius: 1rem;
    background: white;
    padding: 1%;
    margin-top: 5%;
}