@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

.form{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.field{
    display: flex;
    flex-direction: column;
}

.form .field h3{
    size: 36px;
    line-height: 50.4px;
}